[user]
        name = BrittleFoot
        email = buftioo@gmail.com
[alias]
        co = checkout
        ci = commit
        st = status
        br = branch
        hist = log --pretty=format:'%h %ad | %s%Cgreen%gd%Cblue%d %Cgreen[%an]' --graph --date=short
        please = push --force-with-lease
        fixup = commit --amend --no-edit
[core]
        editor = code
[pull]
        rebase = true
